@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    width: 100vw;
    height: 100vh;
  }
  
  body {
    font-family: Matrix;
    margin: 0;
  }

  @font-face {
    font-family: Matrix;
    src: url('/assets/fonts/matrix.ttf');
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
